<%= render 'shared/page_title', title: "All receipes" %>

<ul class="nav nav-tabs">
        <li class="active">
            <%= link_to "Receipes", receipes_path %>
        </li>
        <li>
            <%= link_to "Chefs", chefs_path %>
        </li>
</ul>

<%= will_paginate %>

<% @receipes.each do |receipe | %>
    <div class="row">
        
          <div class="col-lg-6 well">
            <section class="chef_info center">
                <%= link_to gravatar_for(receipe.chef, size: 100), chef_path(receipe.chef) %>
                <h5>Chef name: <%= receipe.chef.chefname %></h5>    
            </section>
            <h4><%= link_to receipe.name, receipe_path(receipe)%></h4>
            <p><%= receipe.summary %></p>
            <div class="pull-right">
                <%= link_to like_receipe_path(receipe, like: true), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                    &nbsp;&nbsp;
                    <%= receipe.thumbs_up_total %>
                <% end %>
                
                <%= link_to like_receipe_path(receipe, like: false), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-down"></i>
                      &nbsp;&nbsp;
                    <%= receipe.thumbs_down_total %>
                <% end %>
            </div>
            
            <p>
                <span class='quiet'><small> created: <%= time_ago_in_words(receipe.created_at)%> ago,</small></span>
                <span class='quiet'><small> updated: <%= time_ago_in_words(receipe.updated_at)%> ago</small></span>
            </p>
            <div class="col-md-4">
            <%= image_tag(receipe.picture.url, size: "250X150", class: "gravatar") if receipe.picture? %>
        </div>
        </div>
        
        
    </div>
<% end %>

<%= will_paginate %>